@charset 'UTF-8';

#smartisan .s-body .s-commodity{border:1px solid rgba(0,0,0,.14);background:#fff;border-radius:10px;overflow:hidden;margin-bottom:32px;}
#smartisan .s-body .s-commodity h5{height:60px;font-size:20px;font-weight:500;text-indent:2em;line-height:60px;background:#FAFAFA;border-bottom:1px solid rgba(0,0,0,.14);}
#smartisan .s-body .s-commodity h5 a{float:right;width:103px;line-height:34px;background:#FAFAFA;border:1px solid rgba(0,0,0,.14);border-radius:5px;font-size:14px;color:#666;text-align:center;text-indent:0;margin:12px 40px 0 0;}
#smartisan .s-body .s-commodity h5 a:hover{background:#eee;}
#smartisan .s-body .s-commodity h5 a .iconfont{font-size:12px;}